@{
    ViewData["Title"] = "ASP.NET Core MVC URL Shortener";
}

<h2>@ViewData["Title"]</h2>

<p>A basic implementation of an URL shortener web application using ASP.NET Core MVC and Entity Framework Core.</p>

<h2>Goal</h3>

<p>I've started this little project in order to have a support during my approach of ASP.NET Core MVC.</p>

<p>My idea was to implement a simple web application using the framework.</p>

<p>I've chosen to implement an URL shortener application because it's pretty simple.</p>

<h3>Algorithm</h3>

<p>So, how works an URL shortener?</p>

<p>Basicaly, we store the URL in database, so it has a numeric ID, an we convert it to a another base in order to have a "stringified" version of the ID.</p>

<p>
When we have the short URL the process is:
    <ul>
        <li>convert the "stringified" ID to the numeric ID.</li>
        <li>load the data from DB.</li>
        <li>redirect to the original URL using an HTTP redirection.</li>
    </ul>
</p>

<p>More theory here in <a href="https://stackoverflow.com/questions/742013/how-to-code-a-url-shortener">this stackoverflow topic</a>.</p>

<h3>Implementation</h3>

<p>For the stringification, I've chosen base 62 with this alphabet : "23456789bcdfghjkmnpqrstvwxyzBCDFGHJKLMNPQRSTVWXYZ-_".</p>

<p>I've used the ShortURL class by delight.im to do this work. See <a href="https://github.com/delight-im/ShortURL">this link</a> for more information about it.</p>

<p>You can also see this link: <a href="https://gist.github.com/dgritsko/9554733">https://gist.github.com/dgritsko/9554733</a>.</p>

<h3>Conclusion</h3>

<p>ASP.NET Core allowed me to do this simple app in the quickest way. So that, I've doing more investigations about the framework.</p>
